/* src/pages/HomePage.css */

.home-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-image: url('/public/images/bg-home-pokemon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-header {
  background: #ffcb05;
  color: #3d7dca;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  text-align: center;
}

.pokemon-logo {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.home-header h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.start-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #3d7dca;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.start-button:hover {
  background: #285a94;
  transform: scale(1.05);
}

.creator-info {
  margin-top: 30px;
  font-size: 1rem;
  color: #3d7dca;
  font-style: italic;
}

.home-info {
  margin: 40px 20px;
}

.home-info h2 {
  font-size: 2rem;
  color: #3d7dca;
}

.home-info ul {
  list-style: none;
  padding: 0;
}

.home-info li {
  font-size: 1.2rem;
  margin: 10px 0;
}
